{% extends "layout.html" %}
{% block body %}

  <body>
    
    <!-- Page Header Start -->
    <div
      class="container-fluid page-header py-5 mb-5 wow fadeIn"
      data-wow-delay="0.1s"
    >
      <div class="container py-5">
        <h1 class="display-1 text-white animated slideInDown">About Us</h1>
        <nav aria-label="breadcrumb animated slideInDown">
          <ol class="breadcrumb text-uppercase mb-0">
            <li class="breadcrumb-item">
              <a class="text-white" href="/" aria-label="Home">Home</a>
            </li>
            <li class="breadcrumb-item txt-primary" aria-current="page" aria-label="About Us">
              About
            </li>
          </ol>
        </nav>
      </div>
    </div>
    <!-- Page Header End -->

    <!-- About Start -->
    <section>
      <div class="container-xxl py-5">
        <div class="container">
          <div class="row g-5">
            <div class="col-lg-7 wow fadeIn" data-wow-delay="0.5s">
              <div class="section-title">
                <h6>About Us</h6>
                <h2 class="mb-4">
                  Empowering Education Through Innovation and Technology
                </h2>
              </div>
              <p>
                At <strong>Atmam Edutech Publications Private Limited</strong>, we are dedicated to transforming the education landscape by integrating technology, innovation, and expertise. Incorporated on <strong>February 15, 2025</strong>, and recognized as a startup by the <strong>Department for Promotion of Industry and Internal Trade (DPIIT)</strong>, we specialize in providing top-notch educational resources, digital solutions, and research platforms that empower learners, educators, and institutions.
              </p>
              <p class="mb-3">
                Our journey began with a vision to bridge the gap between quality education and modern technology. Today, we stand at the forefront of the EduTech sector, offering a wide range of services, including web development, software solutions, research journal publications, educational training, and textbook publications. With a commitment to excellence and innovation, we continue to drive educational growth by ensuring accessible and impactful learning experiences for everyone.
              </p>
              <div class="d-flex align-items-center mb-4">
                <div
                  class="d-flex flex-shrink-0 align-items-center justify-content-center txt-primary"
                  style="width: 80px; height: 80px; border: 5px solid #d31e26"
                >
                  <h5 class="display-6 fw-bold">5+</h5>
                </div>
                <div class="ps-4">
                  <h4>Years</h4>
                  <h4 class="mb-0">of Excellence in Education</h4>
                </div>
              </div>
              <a class="btn btn-inline-body py-3 px-5" aria-label="Explore Our Services" href="/services">Explore Our Services</a>
            </div>
            <div class="col-lg-5 wow fadeIn" data-wow-delay="0.1s">
              <img
                class="img-fluid rounded"
                src="{{ url_for('static', filename='img/about.webp') }}"
                alt="About Us"
              />
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- About End -->

    <!-- Feature Start -->
    <section>
      <div class="container-xxl py-5">
        <div class="container">
          <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
              <div class="feature-img">
                <img class="img-fluid mb-4" src="{{ url_for('static', filename='img/edtech.webp') }}" alt="Our Vision" />
                <img class="img-fluid" src="{{ url_for('static', filename='img/laptop-and-mobile.webp') }}" alt="Our Mission" />
              </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
              <div class="section-title">
                <h6>Why Choose Us?</h6>
                <h2 class="mb-4">
                  What Makes Us a Trusted Leader in EdTech?
                </h2>
              </div>
              <p class="mb-4">
                Our commitment to excellence, innovation, and customer satisfaction sets us apart. We combine technical expertise with industry knowledge to deliver cutting-edge solutions tailored to meet the diverse needs of learners, educators, and institutions.
              </p>
              <div class="row g-4">
                <div class="col-12">
                  <div class="d-flex align-items-start">
                    <i class="fas fa-chalkboard-teacher fa-3x txt-primary"></i>
                    <div class="ms-4">
                      <h3>Expert-Led Educational Training</h3>
                      <p class="mb-0">
                        Our training programs are designed by industry experts, ensuring that learners receive the most up-to-date and practical knowledge.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="d-flex align-items-start">
                    <i class="fas fa-book-open fa-3x txt-primary"></i>
                    <div class="ms-4">
                      <h3>Innovative Journal Publications</h3>
                      <p class="mb-0">
                        We maintain a rigorous peer-review process, ensuring that our published research is of the highest quality and relevance.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="d-flex align-items-start">
                    <i class="fas fa-laptop-code fa-3x txt-primary"></i>
                    <div class="ms-4">
                      <h3>Custom Web & Software Solutions</h3>
                      <p class="mb-0">
                        We develop scalable and user-friendly websites and software solutions that enhance business processes and drive growth.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="d-flex align-items-start">
                    <i class="fas fa-graduation-cap fa-3x txt-primary"></i>
                    <div class="ms-4">
                      <h3>Textbook Publications Aligned with Modern Curricula</h3>
                      <p class="mb-0">
                        Our textbooks are designed to meet the evolving needs of learners, providing them with comprehensive and relevant content.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <a class="btn btn-inline-body py-3 px-5 mt-4" aria-label="Learn More About Our Projects" href="/projects">Learn More About Our Projects</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Feature End -->

  </body>
</html>
{% endblock %}
